OAuth endpoint using incorrect error type?

On https://developer.spotify.com/documentation/web-api/ under the section "Authentication Error Object" the documentation says the following about `error`: "A high level description of the error as specified in RFC 6749 Section 5.2.". However this endpoint returns `errorTransient` which does not exist in the RFC. IMO the correct error code in this case would be `temporarily_unavailable`.

This has been a problem for at least the last year and is still happening as of early 2019. Most recent log I have of this happening is 2019-02-02 17:51:29,975 Central European time.

https://tools.ietf.org/html/rfc6749#section-5.2

#### Steps to reproduce:
This is non trivial to reproduce unless you do auth calls and the transient error happens. I have no advice for how to reproduce this.

#### Expected behaviour:
JSON response is `{"error": "temporarily_unavailable", "error_description": "..."}`

#### Actual behaviour:
JSON response is `{"error": "errorTransient", "error_description": "..."}`

